* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  
}

.my-nav {
  height: 54px;
  width: 100%;
  background-color: #198754;
  position: relative;
}
.my-nav-logo{
  display: inline-block;
}
.my-nav > .my-nav-header {
  display: inline;
}

.my-nav > .my-nav-header > .my-nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.my-nav > .my-nav-btn {
  display: none;
}

.my-nav > .my-nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: inherit;
  float: right;
  font-size: 18px;
}

.links {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  transition-duration: 350ms;
  
}

.my-active{
  color: rgb(6, 19, 1);
  background-color: rgba(129, 236, 188, 0.788);
}

.links:hover {
  color: rgb(6, 19, 1);
  background-color: rgba(129, 236, 188, 0.788);
}

.my-nav > #my-nav-check {
  display: none;
}

.my-footer{
  width:100%;
  
  
  display: grid;
  place-items: center;
  background-color: rgb(108, 196, 122);
  padding: 1rem 0;
  
}

.Links-div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  z-index: -1;
  flex-wrap: wrap;
}

.my-container{
  padding: 11rem 3rem 12.3rem 3rem;
}

@media (max-width:600px) {
  .my-nav > .my-nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    height: inherit;
  }
  .my-nav > .my-nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 54px;
    padding: 13px;
  }
  .my-nav > .my-nav-btn > label:hover,.my-nav  #my-nav-check:checked ~ .my-nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .my-sp {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .my-nav > .my-nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .links {
    display: block;
    width: 100%;
  }
  .my-nav > #my-nav-check:not(:checked) ~ .my-nav-links {
    height: 0px;
  }
  .my-nav > #my-nav-check:checked ~ .my-nav-links {
    height: auto;
    overflow-y: auto;
  }
}

@media (max-width:762px){
  .container{
    padding: 9rem 3rem 12.3rem 3rem;
  }
}
@media (max-width:449px){
  .container{
    padding: 4rem 3rem 7.3rem 3rem;
  }
}



.linkimages{ 
  position: relative;
  transition-duration: 200ms;
}

.linkimages:hover{
  cursor: pointer;
}

.linkimages::before{
  content: '';
  pointer-events: none;
  position: absolute;
  height: 2px;
  width: 0%;
  top : 110%;
  left : 0;
  background-color: green;
  transition-duration: 200ms;
  
}
.linkimages:hover::before{  
  width: 100%;
}

@media (min-width: 576px){
.jumbotron {
    padding: 4rem 2rem;
}
}
.jumbotron {
    padding: 1.5rem 0.5rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}


.profileimg{
  display: grid;
  place-items: center;
}

.profileimg > img {
  border-radius: 50%;
}

.profiledesc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.profiledesc , .profileimg{
  margin: 1rem 0;
}

.profiledesc > p {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
}

@media (max-width: 767px){
  .profiledesc > p {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
  }
}

@media (max-width: 632px){
  .profiledesc > p {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
  }
}
@media (max-width: 531px){
  .profiledesc > p {
    margin: 0 0 0.5rem 0;
    font-size: 0.9rem;
  }
}

.b-example-divider  {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.b-example-divider-last{
  height: 1rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}




#btnnn{
  border: 1px solid #198754;
  border-radius: 0.25rem;
  padding: 0.2rem 0.6rem;
  color: #198754;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 1.5rem;
  font-family: sans-serif;
  transition: all .5s;
  text-decoration: none;
  }

#btnnn:before{
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top:  -100%;
    left: -100%;
    background: #198754;
    transition: all .5s;
    z-index: -1;
    
  }
#btnnn:hover{
  color: white;
}
#btnnn:hover:before{			
    top: 0;
    left: 0;

}